﻿﻿
@{
    ViewBag.Title = "Services";
}


<link href="~/Content/HomePage/ServicesStyles.css" rel="stylesheet" />
<div class="services text-center mt-5" id="services">
    <h1 class="our-services">Our Services</h1>
    <section class="articles">
        <article>
            <div class="article-wrapper">
                <figure>
                    <img src="~/Content/Images/Capture.PNG" />

                </figure>
                <div class="article-body">
                    <h2>Adding Planes</h2>
                    <p>
                        The Adding Planes feature lets you input key plane details and seamlessly integrate new aircraft into our system.
                    </p>
                </div>
            </div>
        </article>
        <article>
            <div class="article-wrapper">
                <figure>
                    <img src="~/Content/Images/Untitled-design-38.jpg" />

                </figure>
                <div class="article-body">
                    <h2>Adding Pilots</h2>
                    <p>
                        We Add talented pilots using the Adding Pilot feature.
                        Collects pilot information like name, license number, etc.
                    </p>
                </div>
            </div>
        </article>
        <article>
            <div class="article-wrapper">
                <figure>
                    <img src="~/Content/Images/Airport_Hanger2.jpg" />

                </figure>
                <div class="article-body">
                    <h2>Adding Hangers</h2>
                    <p>
                        Effortlessly add and manage hangers with the Adding Hanger Details feature.
                        Ensure organized hanger management with ease.
                    </p>
                </div>
            </div>
        </article>
        <article>
            <div class="article-wrapper">
                <figure>
                    <img src="~/Content/Images/allotingplanes.jpg" />

                </figure>
                <div class="article-body">
                    <h2>Allotting Planes into Hanger</h2>
                    <p>
                        Manage aircraft placement with the Allotting Planes into Hanger feature. Managers search and allocate planes to available hangers based on availability.
                    </p>
                </div>
            </div>
        </article>
        <article>
            <div class="article-wrapper">
                <figure>
                    <img src="~/Content/Images/getstatus.jpg" />

                </figure>
                <div class="article-body">
                    <h2>Get Hanger Status</h2>
                    <p>
                        Monitor hangar status using the Get Hanger Status feature. Managers can select a hangar and dates, then click "Get Status" to instantly view occupancy.
                    </p>
                </div>
            </div>
        </article>
    </section>
</div>