
@{
    ViewBag.Title = "Home";
}

<link rel="stylesheet" href="~/Content/Admin/StyleSheet1.less" />




<div class="admin-home d-flex flex-row justify-content-between align-items-center">

    <div class="card-hover">
        <div class="card-hover__content">
            <h3 class="card-hover__title">
                Adding <span>Planes</span>
            </h3>
            <p class="card-hover__text">
                Efficiently expand your airport's fleet by seamlessly adding new planes.
                Enter plane details such as name,model,registration and configure essential settings.
                Prepare for takeoff!
            </p>
            <a href="/Plane/Index" class="card-hover__link">
                <span>Add Now</span>
                <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
                </svg>
            </a>
        </div>
        <div class="card-hover__extra">
            <h4>Add <span>now</span> and seamlessly <span>enjoy our</span> services!</h4>
        </div>
        <img src="https://media.istockphoto.com/id/1181009608/vector/airplane-vector-icon-isolated-passenger-plane-cartoon-style-emoji-emoticon-illustration.jpg?s=612x612&w=0&k=20&c=lyAIA4FLT_CPj-T80ursJ7ztyn0nSMjGH4sZNeucbE8=" alt="" class="admin-img">
    </div>

    <div class="card-hover">
        <div class="card-hover__content">
            <h3 class="card-hover__title">
                Adding  <span>Pilot</span>
            </h3>
            <p class="card-hover__text">Enhance the expertise of your aviation team by adding  pilots. Manage pilot profiles effortlessly. Empower your crew to navigate the skies.</p>
            <a href="/Pilot/Index" class="card-hover__link">
                <span>Add Now</span>
                <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
                </svg>
            </a>
        </div>
        <div class="card-hover__extra">
            <h4>Add <span>now</span> and seamlessly <span>enjoy our</span> services!</h4>
        </div>
        <img src="https://us.123rf.com/450wm/colorfuelstudio/colorfuelstudio2101/colorfuelstudio210100029/162323783-happy-cute-little-kid-boy-wearing-pilot-uniform.jpg?ver=6" alt="" class="admin-img">
    </div>

    <div class="card-hover">
        <div class="card-hover__content">
            <h3 class="card-hover__title">
                Adding <span>Hangers</span>
            </h3>
            <p class="card-hover__text">Optimize airport's infrastructure by adding new hangars. Accommodate different aircraft sizes and ensure secure storage. Elevate your facilities for smoother operations.</p>
            <a href="/Hanger/Index" class="card-hover__link">
                <span>Add Now</span>
                <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
                </svg>
            </a>
        </div>
        <div class="card-hover__extra">
            <h4>Add <span>now</span> and seamlessly <span>enjoy our</span> services!</h4>
        </div>
        <img src="https://media.istockphoto.com/id/637416224/photo/airplane-in-hangar.jpg?s=612x612&w=0&k=20&c=X4viPMUW9od4N0sAUFpsXS6CTYiErKqwq7oHNaiCgO8=" alt="" class="admin-img">
    </div>
</div>