﻿


<link rel="stylesheet" href="~/Content/Manager/StyleSheet1.less" />
<div class="manager-home d-flex flex-row justify-content-between align-items-center">


    <div class="card-hover">
        <div class="card-hover__content">
            <h3 class="card-hover__title">
                Book <span>Hangers</span>
            </h3>
            <p class="card-hover__text">This feature allows you to allocate planes to available hangar spaces. You can efficiently manage the storage and arrangement of planes within the hangar facilities.</p>
            <a href="/Hanger/GetHangers" class="card-hover__link">
                <span>Book Now</span>
                <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
                </svg>
            </a>
        </div>
        <div class="card-hover__extra">
            <h4>Book <span>now</span> and seamlessly <span>enjoy our</span> services!</h4>
        </div>
        <img src="https://airport-diorama-designs.com/images/miniature-airport-hangar-large-1.jpg" alt="" class="manager-img">
    </div>
    @*<div class="car-container">

        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">

            <ol class="carousel-indicators">
                <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
                <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
            </ol>


            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://wallpapercave.com/wp/wp4418907.jpg" class="d-block w-100 h-50 car-img" alt="Slide 1" />

                </div>
                <div class="carousel-item">
                    <img src="https://www.pixelstalk.net/wp-content/uploads/images1/Free-airport-hd-backgrounds.jpg" class="d-block w-100 h-50 car-img" alt="Slide 2">
                </div>
                <div class="carousel-item">
                    <img src="https://freedomfund.org/wp-content/uploads/iStock_AirplaneAtSunset_Sitikka.jpg" class="d-block w-100 h-50 car-img" alt="Slide 3">
                </div>
            </div>


            <a class="carousel-control-prev" href="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>


    </div>*@
    <div class="card-hover">
        <div class="card-hover__content">
            <h3 class="card-hover__title">
                Get <span>Status</span>
            </h3>
            <p class="card-hover__text">This feature provides current status and availability of hangar spaces. You can easily track which hangars are occupied and which ones are vacant for incoming planes.</p>
            <a href="/Hanger/GetStatus" class="card-hover__link">
                <span>Check Now</span>
                <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
                </svg>
            </a>
        </div>
        <div class="card-hover__extra">
            <h4>Check <span>now</span> and seamlessly <span>enjoy our</span> services!</h4>
        </div>
        <img src="https://media.gettyimages.com/id/1145325580/photo/aerial-view-of-the-fleet-of-naca-test-aircraft-in-front-of-the-hangar-at-the-high-speed.jpg?s=612x612&w=gi&k=20&c=QdMyEDw935blsHRa2uYHRzKLIlrwwVmCk6aJyn04klU=" alt="" class="manager-img">
    </div>

</div>